
#h {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: none;
	border: 0;
	color: white;
	font-family: 'Segoe UI', Tahoma;
	font-size: 250px;
	outline: none;
	cursor: pointer;
}