html {
	border-radius: 20px 20px 20px 20px;
}

body {
	margin: 0;
	cursor: default;
	user-select: none;
	height: 100vh;
	background-color: rgb(20,20,20);
	overflow: hidden;
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

.titlebar {
	-webkit-app-region: drag;
	background-color: #23272A;
	width: 100vw;
}

p {
	margin: 0;
	color: white;
	font-family: 'Segoe UI', 'San Francisco';
	font-weight: bolder;
	display: inline-block;
	font-size: 20px;
	margin-left: 10px;
	height: 31px;
	padding-top: 5px;
	vertical-align: middle;
}
.xbutton {
	background-color: transparent;
	float: right;
	color: white;
	font-family: arial;
	border: none;
	padding-left: 18px;
	padding-right: 18px;
	font-size: 17px;
	height: 36px;
	transition: all 0.1s ease;
}


._button, .maxbutton {
	background-color: transparent;
	float: right;
	color: white;
	font-family: arial;
	border: none;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 17px;
	height: 36px;
	transition: all 0.2s ease;
	vertical-align: middle;
}

.titlebar ._button:hover, .titlebar .xbutton, .titlebar .maxbutton:hover {
	background-color:#7289DA;
}

.titlebar ._button:active, .titlebar .xbutton:active, .titlebar .maxbutton:active {
	transform: scale(0.9);
	border-radius: 5px;
}

iframe {
    width: 100%;
    height: calc(100% - 36px);
    border: none;
}
